PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/streakos
JWT_ACCESS_SECRET=your_super_secret_access_token_key_here
JWT_REFRESH_SECRET=your_super_secret_refresh_token_key_here
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
